:root {
  --primary-color: #212121;
  --secondary-color: #757575;
  --primary-background-color: #e5e5e5;
  --secondary-background-color: #f5f4fa;
  --additional-background-color: #2f303a;
  --accent: #2196f3;
  --accent-secondary: #ffffff;
  --additional-accent: #188ce8;
  --logo-secondary: #000000;
  --primary-icon-color: #afb1b8;
  --project-hover-background: rgba(33, 150, 243, 0.9);
  --footer-contacts: rgba(255, 255, 255, 0.6);
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  background-color: var(--accent-secondary);
  color: var(--primary-color);
  letter-spacing: 0.03em;
}

header {
  border-bottom: 1px solid #ececec;
}

/* Утилиты */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.footer__address {
  font-style: normal;
  margin-top: 20px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

/* Main Nav */
.nav {
  display: flex;
  align-items: center;
}

/* Логотип */

.logo {
  color: var(--logo-secondary);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo__span {
  color: var(--accent);
}

/* Навигация */

.site-nav {
  display: flex;
  margin-left: 95px;
}

.site-nav__item {
  /* background-color: tomato; */
}

.site-nav__item + .site-nav__item {
  margin-left: 50px;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-color);
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-weight: 500;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.site-nav__link--current {
  position: relative;
  color: var(--accent);
}

.site-nav__link--studio::before {
  position: absolute;
  bottom: -1px;
  left: 0px;
  content: '';
  width: 48px;
  height: 4px;

  background: #2196f3;
  border-radius: 2px;
}

.site-nav__link--portfolio::before {
  position: absolute;
  bottom: -1px;
  left: 0px;
  content: '';
  width: 78px;
  height: 4px;

  background: #2196f3;
  border-radius: 2px;
}

.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--accent);
}

.container {
  /* outline: 1px solid blue; */
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

/* Контакты */

.contact-list {
  display: flex;
  margin-left: auto;
}

.contact-list__item + .contact-list__item {
  margin-left: 50px;
}

.header__contacts {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 22px;
  display: flex;
  align-items: center;
  color: var(--secondary-color);
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-weight: 500;
}

.contacts {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.contacts:hover,
.contacts:focus {
  color: var(--accent);
}

.icon {
  fill: currentColor;
  margin-right: 10px;

  /* transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier); */
}

/* .icon:hover {
  fill: var(--accent);
} */

.mail-icon {
  height: 12px;
  width: 16px;

  /* outline: 1px solid black; */
}

.phone-icon {
  height: 16px;
  width: 10px;
  /* outline: 1px solid black; */
}

/* Герой */

.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 1px solid black; */
  background-color: var(--additional-background-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(./css-images/background.jpg);
  max-width: 1600px;
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-title {
  margin-top: 0px;
  margin-bottom: 40px;
  color: var(--accent-secondary);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  color: var(--accent-secondary);
  background-color: var(--accent);
  border-radius: 4px;
  border: none;
  padding: 10px 32px;
  min-width: 200px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  letter-spacing: 0.06em;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--additional-accent);
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  opacity: 1;
  z-index: 8;

  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: scale(0.9) translate(-50%, -50%);
  opacity: 0;
}

.modal {
  /* display: flex;
  justify-content: flex-end;
  padding: 8px; */

  background-color: var(--accent-secondary);
  border-radius: 4px;
  width: 528px;
  height: 581px;
  z-index: 9;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;

  transition-property: transform, scale, opacity;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  width: 30px;
  height: 30px;
  background-color: var(--accent-secondary);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: center;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
  cursor: pointer;
}

.close-button:hover {
  fill: var(--accent);
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  /* outline: 1px solid tomato; */
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
}

.form-field {
  position: relative;
  /* outline: 1px solid blue; */
  display: flex;
  flex-direction: column;
}

.form-exhortation {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: var(--primary-color);

  width: 100%;
  margin-top: 0;
  margin-bottom: 12px;
}

.form-label {
  text-align: left;
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;

  letter-spacing: 0.01em;

  color: var(--secondary-color);
}

.form-icon {
  position: absolute;
  transform: translate(15px, 32px);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);

  pointer-events: all;
  cursor: pointer;
}

.form-input {
  width: 100%;
  height: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
  cursor: pointer;
}

.form-input:not(:last-child) {
  margin-bottom: 10px;
  padding: 12px 42px;
}

.form-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.form .form-input:focus-visible + .form-icon,
.form .form-input:hover + .form-icon {
  fill: var(--accent);
}

.form-input:focus,
.form-input:hover,
.form-icon:hover {
  outline: transparent;
  border-color: var(--accent);
  fill: var(--accent);
}

.form-field textarea {
  width: 100%;
  height: 120px;

  resize: none;
  box-shadow: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  margin-bottom: 20px;
  padding: 12px 16px;
}

.agreement {
  position: relative;
  display: block;
  margin-bottom: 30px;
}

.agreement-checkbox {
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; */

  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.agreement-checkbox:checked + .agreement-icon {
  border-radius: 4px;
  border: 1px solid transparent;
  background-color: var(--accent);
  background-image: url('../images/test-icon-check.svg');
  background-size: contain;
  background-origin: border-box;
}

.agreement-icon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: block;
  width: 16px;
  height: 15px;
  margin-right: 5px;
  border: 2px solid var(--primary-color);
  border-radius: 4px;
  transition-property: border, background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.agreement-label {
  line-height: 1.7;
  color: var(--secondary-color);
}

.agreement-link {
  color: var(--accent);
}

.form-button {
  color: var(--accent-secondary);
  background: var(--accent);

  padding: 10px 55px 10px 56px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  letter-spacing: 0.06em;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  border: none;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.form-button:hover,
.form-button:focus {
  background-color: #188ce8;
}
.visually__hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feature-list-item {
  width: 270px;
  margin: 15px;
}

.feature-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.feature-text {
  color: var(--secondary-color);
  line-height: 1.7;
}

.feature-list {
  display: flex;
  margin: -15px;
}

.feature-icon-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 270px;
  background-color: var(--secondary-background-color);
  border: 1px solid transparent;
  border-radius: 4px;
  margin-bottom: 30px;
}

.feature-icon {
  width: 70px;
  height: 70px;
  fill: var(--primary-icon-color);
}

/* .feature-list-item::before {
  content: '';
  display: block;
  height: 120px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: var(--secondary-background-color);
} */

/* .feature-list-item.icon-satellite::before {
  background-image: url(./css-images/satellite.png);
} */

/* .feature-list-item.icon-wall-clock::before {
  background-image: url(./css-images/wall-clock.png);
}
.feature-list-item.icon-notebook::before {
  background-image: url(./css-images/notebook.png);
}
.feature-list-item.icon-astronaut::before {
  background-image: url(./css-images/astronaut.png);
} */

.section-advantages {
  padding-top: 0;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: Center;
  margin-top: 0;
  margin-bottom: 50px;
}

.advantages-list {
  display: flex;
  z-index: 1;
}

.advantage:not(:last-child) {
  margin-right: 30px;
}

.advantage {
  position: relative;
}

.advantage-overlay {
  position: absolute;
  width: 370px;
  height: 70px;
  left: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;

  font-style: normal;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--accent-secondary);

  background: rgba(47, 48, 58, 0.8);
}

.section-team {
  background-color: var(--secondary-background-color);
}

.team-list {
  display: flex;
}

.team-list-item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list-item:not(:last-child) {
  margin-right: 30px;
}

.team-item-text {
  padding: 30px 0px 30px 0px;
}

.staff {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  text-align: Center;
  margin-bottom: 10px;
}

.staff-role {
  color: var(--secondary-color);
  font-size: 16px;
  line-height: 1.2;
  text-align: Center;
  margin-bottom: 16px;
}

/* Соцсети */

.social-networks-list {
  display: flex;
  justify-content: center;
}

.social-network:not(:last-child) {
  margin-right: 10px;
}

.social-network-link {
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: var(--accent-secondary); */
  color: var(--primary-icon-color);
  height: 44px;
  width: 44px;
  border-radius: 50%;

  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.social-network-link:visited {
}

.social-network-link:hover,
.social-network-link:focus {
  color: var(--accent-secondary);
  background-color: var(--accent);
}

.social-network-icon {
  /* background-color: var(--primary-background-color); */
  height: 20px;
  width: 20px;
  fill: currentColor;
}

/* Клиенты */

.client-list {
  display: flex;
}

.client-list-item {
  fill: currentColor;
}

.client-list-item:not(:last-child) {
  margin-right: 30px;
}

.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  width: 170px;
  border: 1px solid var(--primary-icon-color);
  border-radius: 4px;
  color: var(--primary-icon-color);

  transition-property: color, border-color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.client-link:hover,
.client-link:focus {
  color: var(--accent);
  border-color: var(--accent);
}

.client-icon {
  fill: currentColor;
  width: 106px;
  height: 60px;
}
/* Футер */

.footer {
  background-color: var(--additional-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.logo__span--footer {
  color: var(--accent-secondary);
}

.footer__contact-list {
  display: inline;
  margin: 0;
}

.contact-list__item--footer + .contact-list__item--footer {
  margin-left: 0;
}

.contact-list__item--footer:not(:last-child) {
  margin-bottom: 9px;
}

.location.link {
  color: var(--accent-secondary);
  font-weight: 400;
  line-height: 1.7;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.location.link:visited {
  color: var(--accent-secondary);
}

.location.link:hover,
.location.link:focus {
  color: var(--accent);
}

.footer__contacts {
  color: var(--footer-contacts);

  line-height: 1.5;
  font-weight: 400;
}

.footer__join {
  margin-left: 70px;
}

.footer__exhortation {
  display: block;

  margin-bottom: 20px;
  text-transform: uppercase;
  color: var(--accent-secondary);
  font-weight: 700;
  line-height: 1.14;
}

.footer__social-networks-list {
  margin: 0;
}

.footer__social-network-link {
  color: var(--accent-secondary);
  background-color: rgba(255, 255, 255, 0.1);
  background-size: contain;
}

.footer__social-network-link:hover,
.footer__social-network-link:focus {
  background-color: var(--accent);
}

.footer__subscribe {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.subscribe-form {
  display: flex;
}

.footer__text {
  margin-bottom: 20px;
  text-transform: uppercase;
  color: var(--accent-secondary);
  font-weight: 700;
  line-height: 1.14;
}

.subscribe-form__input {
  width: 358px;
  padding: 15px 16px;
  background-color: var(--additional-background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form__button {
  position: relative;
  margin-left: 12px;
  padding-top: 10px;
  padding-right: 62px;
  padding-bottom: 10px;
  padding-left: 29px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  cursor: pointer;
  letter-spacing: 0.06em;
  color: var(--accent-secondary);

  background: var(--accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.subscribe-form__button:hover,
.subscribe-form__button:focus {
  background-color: var(--additional-accent);
}

.subscribe-form__icon {
  position: absolute;
  margin-left: 10px;
}

/* Портфолио */

.filters {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.filters__button {
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  background-color: var(--secondary-background-color);
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 1.6;
  text-align: Center;
  cursor: pointer;

  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.filters__button:hover,
.filters__button:focus {
  background-color: var(--accent);
  color: var(--accent-secondary);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filters__body:not(:last-child) {
  margin-right: 8px;
}

.projects__list {
  display: flex;
  flex-wrap: wrap;
  /* background-color: teal; */
  margin: -15px;
}

.projects__item {
  /* background-color: tomato; */
  width: 370px;
  margin: 15px;
}

.projects__link {
  display: block;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.projects__link:hover,
.projects__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__image {
  position: relative;

  overflow: hidden;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.projects__link:hover .hover__text,
.projects__link:focus .hover__text {
  transform: translatey(0);
  opacity: 1;
}

.projects__block {
  padding: 20px 20px 20px 27px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.projects__title {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.projects__text {
  color: var(--secondary-color);
  font-size: 16px;
  line-height: 1.8;
}

.hover__text {
  position: absolute;
  top: 0;

  width: 100%;
  height: 294px;

  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.5;

  color: var(--accent-secondary);
  background: var(--project-hover-background);

  opacity: 0;
  transform: translatey(100%);
  transition: transform 250ms, opacity 250ms;
}
